*.csv
*.cfg
*.version
auth
shcluster
*.xsl
*.txt
datetime.xml
deployment-apps/
disabled-apps/
init.d/
licenses/
modules/
myinstall/
passwd
*.swidtag
splunk-launch.conf
splunk-launch.conf.default
system/
users/
!.gitignore
!apps/**
